<h2 class="page-header">Edit Player</h2>
<form action="/players/<%= player.id %>?_method=PUT" method="POST" >
    <%- include('_form_fields') %>
    <a href="/players">Cancel</a>
    <button type="submit">Update</button>

</form>
