<h2>New Player</h2>
<form action="/players" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/players">Cancel</a>
    <button type="submit">Create</button>

</form>
