<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Scout Reports</a>
        <ul>
            <li class="header-link"><a href="/Teams">Teams</a></li>
        
            <li class="header-link"><a href="/players">Players</a></li>
            <li class="header-link"><a href="/players/new">Add Player</a></li>
        <ul>


    </nav>

</header>