<header>
    <nav>
        <a href="/">Scout Reports</a>
        <ul>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/teams/new">Add Team</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/players/new">Add Player</a></li>
        <ul>


    </nav>

</header>