<h2 class="page-header">Search Team</h2>
<form action="/teams" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% teams.forEach(team => { %>
    <div><%= team.name %></div>
    <div class="btn-row">
    <a class='btn btn-primary' href="/teams/<%= team.id %>">View</a>
    </div>
<% }) %>